{% extends 'base.html.twig' %}

{% block title %}Hello GalerieController!
{% endblock %}

{% block body %}
	<section class="beatmap">
		<div class="container">

			{% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="addflash">
						<div class="alert alert-{{ label == 'error' ? 'danger' : label }}">
							{{ message }}
						</div>
					</div>
				{% endfor %}
			{% endfor %}

			<form method="get" class="search">
				<input type="text" name="q" value="{{ query }}" placeholder="Rechercher...">
				<button class="btn" type="submit">Chercher</button>
			</form>
			{% if beatmaps is empty %}
				<div class="accueil">
					<div class="container empty_map">
						<img src={{asset('images/empty.png')}} alt="">
						<h2>... non, rien trouvé.</h2>
					</div>
				</div>
			{% else %}
				<div class="favorites-grid">
					{% for set in beatmaps %}
						<div class="beatmap-card">
							<div class="card-cover">
								<img src="{{ set.covers.cover|default('https://assets.ppy.sh/beatmaps/' ~ set.id ~ '/covers/cover.jpg') }}" alt="{{ set.title }}" loading="lazy">
							</div>
							<div class="card-content">
								<h3>{{ set.artist }}
									-
									{{ set.title }}</h3>
								<div class="card-actions">
									{% if app.user and set.id in favoriteIds %}
										<a href="{{ path('app_profile') }}" class="btn btn-download">
											Voir sur le profil
										</a>
									{% else %}
										<form method="post" action="{{ path('favorite_add', {beatmapsetId: set.id}) }}">
											<button type="submit" class="btn btn-download">
												Favoris
											</button>
										</form>
									{% endif %}
									<a href="https://osu.ppy.sh/beatmapsets/{{ set.id }}/download" target="_blank" class="btn btn-download">Télécharger</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
